@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #545045;
}

.body {
    font-family: 'NanumSquareRound';
    color: #545045;
    font: normal 1rem/1.25;
    background-color: #f7f4f0;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #f7f4f0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    height: 60px;
    margin: 20px;
}

.left-container {
    display: flex;
}

.left-container .logo {
    background: url("../images/kblogo.png") no-repeat 0 50%;
    display: block;
    width: 82px;
    height: 32px;
    background-size: auto 32px;
    cursor: pointer;
}

.left-container .main-menu {
    display: flex;
}

nav .left-container .main-menu .item .item__name {
    padding: 10px 20px;
    font-family: 'NanumSquareRound', Arial, sans-serif;
    font-size: 16px;
    margin-left: 0;
    display: block;
    position: relative;
}

nav .left-container .main-menu .item .item__contents {
    display: none;
    position: absolute;
    z-index: 10;

}

nav .left-container .main-menu .item .item__contents ul{
	list-style:none;
	margin:0;
	padding:0;
	}
	
nav .left-container .main-menu .item:hover .item__contents {
    display: block;
    border: 1px #e8e8e8 solid;
    border-radius: 8px;
    background-color: #fff;
    padding: 1rem 1rem;
    font-size: 16px;
    width: auto;
}

nav .left-container .main-menu .item:hover .item__contents .contents__menu .inner li {
    margin: 10px;
}

.left-container .main-menu li {
    list-style-type: none;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
}

.iconRight {
    width: 56px;
    height: 56px;
}

.fa-bell {
    color: #545045;
}

.fa-calendar {
    color: #545045;
}

.box {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.main {
    background-color: #f7f4f0;
}

.iconRight {
    display: flex;
    align-items: center;
}